div.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

app-ascii-display {
    width: 100%;
    height: 90%;
}

div.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.textContainer > p {
    zoom: 3;
}
