<div class="top bottomBorder">
    <app-ascii-display [paginator]="_paginator" [index]="index"></app-ascii-display>
</div>
<div class="bottom">
    <div class="notes rightBorder">
        <app-ascii-notes [paginator]="_paginator" [index]="index"></app-ascii-notes>
    </div>
    <div class="nextSlide">
        <app-ascii-next [paginator]="_paginator" [index]="index"></app-ascii-next>
    </div>
</div>
