div.top {
    height: 50vh;
    width: 100vw;
    box-sizing: border-box;
}

div.top * {
    zoom: .5;
}

div.bottom {
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

div.notes {
    width: 50vw;
    height: 50vh;
}

div.nextSlide {
    width: 50vw;
    height: 50vh;
}

div.nextSlide *{
    zoom: .4;
}

