/*noinspection CssUnknownTarget*/
@import '~highlight.js/styles/github.css';
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

/*
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*/


h1, h2, h3, h4, p { /*div.title {*/
    width: 80%;
    font-family: "Bitter", sans-serif;
    margin-block-start: .5em;
    margin-block-end: .25em;
}


span, button {
    font-family: "Bitter", sans-serif
}

button {
    max-width: 10vw;
    height: auto;
    background-color: white;
    border-color: black;
    color: black;
    transition-duration: .5s;
}

button:hover {
    background-color: black;
    color: white;
}


h1 {
    text-align: center;
    font-size: 10vmin;
}

h2 {
    text-align: left;
    font-size: 7vmin;
}

h3 {
    font-size: 5vmin;
}

h4 {
    font-size: 3.5vmin;
}

p {
    font-size: 3.5vmin;
}

div.title {
    font-style: italic;
    font-size: 2.75vmin;
}

pre > code {
    font-size: 3vmin;
    font-family: "Source Code Pro", sans-serif;
}

ul {
    padding-inline-start: 20px;
}

img, image {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    object-fit: contain;
    object-position: left;
}

[class^="sect"] > [class^="sect"] {
    padding-left: unset !important;
    padding-right: unset !important;
}

div {
    max-height: 100%;
    max-width: 100%;
}

.sect1, .sect2, .sect3, .sect4, .sect5 {
    padding-right: 10%;
    padding-left: 10%;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
