@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");

div.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.notes > p {
    padding: 0;
    margin: 0 !important;
    font-family: "Bitter", sans-serif;
}

div.notes {
    padding-right: 2%;
    padding-left: 2%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.textContainer {
    height: 10%;
    text-align: center;
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
