/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/github.css';

html, body {
    margin: 0;
    padding: 0;
}

.bottomBorder {
    border-bottom: rgba(0, 0, 0, .5);
    border-bottom-style: solid;
}

.rightBorder {
    border-right: rgba(0, 0, 0, .5);
    border-right-style: solid;
}
